{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [rebar3_eqc]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.

{relx,
 [{release,
   {etcpip, "1"},
   [etcpip]},

  {sys_config, "config/sys.config"},
  {dev_mode, true},
  {include_erts, true},
  {include_src, false},
  {extended_start_script, true}]
}.


%% "rebar3 eqc" runs the tests without pulse
%% "rebar3 as pulse eqc -p prop_tcp" runs the tests under pulse, but only run prop_tcp
%%      other properties don't do well under pulse
{profiles,
  [
    {pulse, [{erl_opts, [debug_info, {parse_transform, eqc_cover},
                         {parse_transform, pulse_instrument}, {d, 'PULSE'}
                        ]}]},
    {eqc, [{erl_opts, [debug_info, {parse_transform, eqc_cover}]}]}
  ]
}.
